AlignedIS.fasta
./*.csv
*.sh
MAFFTfiles/
genomes/
htslib/
bcftools/
old/
RAWfastq/
/inprocess/*
/results/*
/RAWfastq/*
/refrence_datasets/genomes/*
/refrence_datasets/annotations/*
/modules/__pycache__
/modules/__pycache__/*